<article class="position-relative" *ngIf="workExperience">
  <div class="header mb-2">
    <div class="d-flex flex-row">
      <h5 class="resume-position-title font-weight-bold mb-1">
        {{ workExperience.jobTitle }}
      </h5>
      <div class="resume-company-name ml-auto font-weight-bold">
        <span>{{ workExperience.company }}</span>
        <span *ngIf="workExperience.serviceCompany">
          - {{ workExperience.serviceCompany }}</span
        >
      </div>
    </div>
    <div
      class="resume-position-time text-muted"
      *ngIf="languageService.currentLang$ | async as currentLang"
    >
      {{
        workExperience.period.start | date : "MMMM y" : undefined : currentLang
      }}
      -
      <ng-container *ngIf="workExperience.period.end; else presentTpl"
        >{{
          workExperience.period.end | date : "MMMM y" : undefined : currentLang
        }}
      </ng-container>
      <ng-template #presentTpl>
        {{ "present" | translate }}
      </ng-template>
    </div>
  </div>
  <div class="description">
    <p>{{ workExperience.description }}</p>
    <ng-container *ngIf="workExperience.achievements as achievements">
      <h6 class="description-heading font-weight-bold text-capitalize">
        {{ "title.achievements" | translate }}
      </h6>
      <p>{{ achievements.description }}</p>
      <ul>
        <ng-container *ngFor="let item of achievements.items">
          <li>{{ item }}</li>
        </ng-container>
      </ul>
      <h6 class="description-heading font-weight-bold text-capitalize">
        {{ "title.technologies-used" | translate }}
      </h6>
      <mcv-skill-list [skills]="workExperience.skills"></mcv-skill-list>
    </ng-container>
  </div>
</article>
