<mat-card>
  <mat-card-header>
    <mat-card-title>{{ workExperience.jobTitle }} </mat-card-title>
    <mat-card-subtitle>
      <span>
        {{ workExperience.company }}
      </span>
      <span *ngIf="workExperience.serviceCompany">
        - {{ workExperience.serviceCompany }}
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{ workExperience.period.start | formatDate }}
      -
      {{ workExperience.period.end | formatDate }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ workExperience.description }}</p>
    <ng-container *ngIf="workExperience.achievements as achievements">
      <ul>
        <ng-container *ngFor="let item of achievements.items">
          <li>{{ item }}</li>
        </ng-container>
      </ul>
    </ng-container>
  </mat-card-content>
  <mat-card-footer>
    <mcv-skill-list [skills]="workExperience.skills"></mcv-skill-list>
  </mat-card-footer>
</mat-card>
