:host {
  box-sizing: border-box;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;

  address {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .avatar {
      --size: 10vw;
      --border-width: calc(var(--size) / 10);

      position: relative;
      width: var(--size);
      height: var(--size);
      border-width: var(--border-width);
      border-style: solid;
      border-radius: 50%;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: var(--border-width);
        height: var(--border-width);
        border-radius: 50%;
      }

      &::before {
        right: calc(var(--border-width) * 0.75);
        top: calc(var(--border-width) * 0.5);
      }

      &::after {
        right: calc(var(--border-width) * 0.75);
        bottom: calc(var(--border-width) * 0.5);
      }

      img {
        width: 100%;
        padding: 0.4rem;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }

    & > div.content {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;

      /** firstName / lastName / jobTitle **/
      & > div:first-child {
        display: flex;
        flex-direction: column;
      }

      /** links **/
      & > div:last-child {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }
}
