<header></header>
<article>
  <div class="mx-auto bg-white shadow-lg">
    <header>
      <div class="media flex-row">
        <mcv-thumbnail></mcv-thumbnail>
        <div class="media-body d-flex flex-row p-4">
          <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">
              Steve Doe
            </h1>
            <div class="title mb-3">Full Stack Developer</div>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#" class="d-flex align-items-center">
                  <i class="fa fa-envelope fa-1x mr-2"></i>Steve.Doe@website.com
                </a>
              </li>
              <li>
                <a href="#" class="d-flex align-items-center">
                  <i class="fa fa-mobile fa-2x mr-2"></i>0123 456 78900
                </a>
              </li>
            </ul>
          </div>

          <div class="secondary-info ml-md-auto mt-2">
            <ul class="resume-social list-unstyled">
              <li class="mb-3">
                <a href="#" class="d-flex align-items-center">
                  <i class="fa fa-linkedin-square fa-1x mr-2"></i>linkedin.com/in/stevedoe
                </a>
              </li>
              <li class="mb-3">
                <a href="#" class="fa-container text-center">
                  <i class="fa fa-github-alt fa-1x mr-2"></i>github.com/username
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</article>
<footer></footer>

<!--
<div class="vh-100 d-flex flex-column">
  <div class="d-flex flex-fill flex-row">
    <div class="col-3 pt-3 bg-secondary">
      <mcv-thumbnail></mcv-thumbnail>
      <div class="text-light mt-3">
        <h6 class="text-uppercase font-weight-bold">contact</h6>
        <p>
          <span class="text-capitalize font-weight-bolder">adress</span>
        </p>
      </div>
    </div>
    <div class="col-9">

      <i class="fa fa-map-marker"></i>
      <i class="fa fa-phone"></i>
      <i class="fa fa-envelope"></i>


test
    </div>
  </div>
</div>
-->
