<div class="primary-info">
  <ul class="list-unstyled">
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-map-marker fa-1x mr-2 rounded border text-center text-secondary bg-white p-1"
        [style.width.px]="26"
      ></i>
      <a
        target="_blank"
        href="https://www.google.fr/maps/place/2+Rue+des+Monts+Chauvets,+78300+Poissy/@48.9185986,2.011707,17z/data=!3m1!4b1!4m5!3m4!1s0x47e6898bae02802f:0x2af6c849091c3c5d!8m2!3d48.9185986!4d2.0138957"
        class="d-flex align-items-center text-light"
      >
        2, rue des Monts Chauvets Poissy, France
      </a>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-envelope fa-1x mr-2 rounded border text-center text-secondary bg-white p-1"
        [style.width.px]="26"
      ></i>
      <a
        href="mailto:Steve.Doe@website.com"
        class="d-flex align-items-center text-light"
        >Steve.Doe@website.com</a
      >
    </li>
    <li class="d-flex align-items-center">
      <i
        class="fa fa-mobile fa-1x mr-2 rounded border text-center text-secondary bg-white p-1"
        [style.width.px]="26"
      ></i>
      <a href="tel:+33660754032" class="d-flex align-items-center text-light"
        >(+33) 6 60 75 40 32</a
      >
    </li>
  </ul>
</div>
