:host {
  $period-width: 30px;

  $period-border-width: 4px;
  $selected-period-border-width: 2px;
  $active-period-border-width: 2px;

  $milestone-border-width: 4px;
  $milestone-label-width: 100px;
  $milestone-label-height: 50px;

  $milestone-size: $period-width + $milestone-border-width;

  $transition-delay: 500ms;
  $transition-timing-function: ease-in-out;

  min-width: (($milestone-label-width * 2) + ($period-width * 3));
  height: 100%;
  box-sizing: border-box;
  padding: $period-width $period-width ($period-width * 1.25);

  display: flex;
  flex-direction: row;
  justify-content: center;

  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    .period {
      transition: $transition-delay $transition-timing-function;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 0;

      .content {
        transition: $transition-delay $transition-timing-function;
        width: $period-width;
        border-style: solid;
        border-width: $period-border-width;
        box-sizing: border-box;
      }

      .milestone {
        position: relative;
        box-sizing: border-box;

        &::before {
          transition: $transition-delay $transition-timing-function;
          display: block;
          position: absolute;
          content: "";
          left: (($period-width - $milestone-size) / 2);
          top: ($period-width / -2);
          box-sizing: border-box;
          width: $milestone-size;
          height: $milestone-size;
          border-style: solid;
          border-width: $milestone-border-width;
          border-radius: 50%;
          z-index: 10;
        }

        &::after {
          transition: $transition-delay $transition-timing-function;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: absolute;
          content: attr(content);
          box-sizing: border-box;
          width: $milestone-label-width;
          height: $milestone-label-height;
          border-radius: 5px;
          padding: 0 5px;
        }

        &.start::after {
          top: ($milestone-size / -1.5);
          left: ($milestone-size * 1);
        }

        &.end::after {
          top: ($milestone-size / -2.5);
          right: ($milestone-size * 1);
        }
      }

      &:hover,
      &.active {
        z-index: 20;
        .content {
          border-width: $period-border-width $active-period-border-width;
        }
      }

      &.selected:not(.active) {
        z-index: 10;
        .content {
          border-width: $period-border-width $selected-period-border-width;
        }
      }
    }
  }
}
