<div class="secondary-info ml-md-auto mt-2">
  <ul class="list-unstyled">
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-linkedin fa-1x mr-2 rounded border text-secondary bg-white p-1"
      ></i>
      <a
        target="_blank"
        href="http://www.linkedin.com/in/jpoyard"
        class="d-flex align-items-center text-light"
        >linkedin.com/in/jpoyard
      </a>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-github fa-1x mr-2 rounded border text-secondary bg-white p-1"
      ></i>
      <a
        target="_blank"
        href="https://github.com/jpoyard"
        class="d-flex align-items-center text-light"
      >
        github.com/jpoyard
      </a>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-twitter fa-1x mr-2 rounded border text-secondary bg-white p-1"
      ></i>
      <a
        target="_blank"
        href="https://twitter.com/jpoyard"
        class="d-flex align-items-center text-light"
      >
        @jpoyard
      </a>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i
        class="fa fa-codepen fa-1x mr-2 rounded border text-secondary bg-white p-1"
      ></i>
      <a
        target="_blank"
        href="https://codepen.io/jpoyard"
        class="d-flex align-items-center text-light"
      >
        codepen.io/jpoyard
      </a>
    </li>
  </ul>
</div>
