<div class="mx-auto bg-white">
  <header>
    <div class="media flex-row bg-secondary">
      <mcv-thumbnail></mcv-thumbnail>
      <address class="media-body d-flex flex-column p-4 m-0 text-light">
        <div>
          <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">
            Julien Poyard
          </h1>
          <h4 class="title mb-3">Font-end Developer</h4>
        </div>
        <div class="media-body d-flex flex-row justify-content-between">
          <mcv-primary></mcv-primary>
          <mcv-secondary></mcv-secondary>
        </div>
      </address>
    </div>
  </header>
  <div class="px-5 py-4">
    <mcv-section title="title.career-summary" *ngIf="false">
      <p>
        For writers, a random sentence can help them get their creative juices
        flowing. Since the topic of the sentence is completely unknown, it
        forces the writer to be creative when the sentence appears. There are a
        number of different ways a writer can use the random sentence for
        creativity. The most common way to use the sentence is to begin a story.
        Another option is to include it somewhere in the story. A much more
        difficult challenge is to use it to end a story. In any of these cases,
        it forces the writer to think creatively since they have no idea what
        sentence will appear from the tool.
      </p>
    </mcv-section>
    <div class="row">
      <div class="col-9">
        <mcv-section title="title.work-experience">
          <mcv-work-experience-list></mcv-work-experience-list>
        </mcv-section>
      </div>
      <div class="col-3">
        <mcv-section title="title.skills-tools">
          <mcv-skill-list
            class="mb-4"
            title="front-end"
            [skills]="skills"
            [withLevel]="true"
          ></mcv-skill-list>
          <mcv-skill-list title="others" [skills]="skills"></mcv-skill-list>
        </mcv-section>

        <mcv-section title="title.education">
          <mcv-degree-list [degrees]="degrees"></mcv-degree-list>
        </mcv-section>

        <mcv-section title="title.language">
          <mcv-language-list [languages]="languages"></mcv-language-list>
        </mcv-section>
      </div>
    </div>
  </div>
</div>
