<div class="mx-auto bg-white" *ngIf="cvService.data() as data">
  <header>
    <div class="media flex-column flex-md-row bg-secondary">
      <img
        [attr.src]="data.personalData.thumbnailUrl"
        class="img-fluid align-self-center"
        alt="profile picture"
      />
      <address class="media-body d-flex flex-column p-4 m-0 text-light">
        <div>
          <h1 class="name mt-0 mb-1 text-white text-uppercase">
            <span class="text-capitalize mr-2">{{
              data.personalData.firstName
            }}</span>
            <span class="text-uppercase">{{ data.personalData.lastName }}</span>
          </h1>
          <h4 class="title text-capitalize mb-3">
            {{ data.personalData.jobTitle }}
          </h4>
        </div>
        <div
          class="media-body d-flex flex-column flex-md-row justify-content-between"
        >
          <mcv-link-list
            class="mb-2"
            [links]="data.contactLinks"
          ></mcv-link-list>
          <mcv-link-list [links]="data.websiteLinks"></mcv-link-list>
        </div>
      </address>
    </div>
  </header>
  <div class="px-md-4 py-4">
    <mcv-section
      i18n-title
      title="title.career-summary"
      *ngIf="data.careerSummary"
    >
      <p>{{ data.careerSummary }}</p>
    </mcv-section>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-md-9">
        <div class="d-flex flex-row" [style.height.%]="100">
          <mcv-timeline-nav
            [workExperiences]="data.workExperiences"
          ></mcv-timeline-nav>
          <mcv-section i18n-title title="title.work-experience">
            <mcv-work-experience-list [workExperiences]="data.workExperiences">
            </mcv-work-experience-list>
          </mcv-section>
        </div>
      </div>
      <div class="col-md-3">
        <mcv-section i18n-title title="title.skills-tools">
          <ng-container
            *ngFor="let skillGroup of data.skillGroups; last as isLast"
          >
            <mcv-skills-list
              [class.mb-4]="!isLast"
              [title]="skillGroup.title"
              [skills]="skillGroup.skills"
              [withLevel]="!isLast"
            >
            </mcv-skills-list>
          </ng-container>
        </mcv-section>

        <mcv-section i18n-title title="title.education">
          <mcv-degree-list [degrees]="data.degrees"></mcv-degree-list>
        </mcv-section>

        <mcv-section i18n-title title="title.language" class="mb-3 mb-md-0">
          <mcv-language-list [languages]="data.languages"></mcv-language-list>
        </mcv-section>
      </div>
    </div>
  </div>
</div>
