<ul class="list-unstyled">
  <ng-container *ngFor="let language of orderedLanguages; last as isLast">
    <li [class.mb-2]="!isLast" class="d-flex flex-row align-items-center">
      <h6 class="language font-weight-bold text-capitalize mr-1 mb-0" i18n>
        {{ "language." + language.name }}
      </h6>
      <div
        *ngIf="language.level"
        class="language-level text-muted font-weight-normal text-capitalize"
        i18n
      >
        {{ "language.level." + language.level }}
      </div>
    </li>
  </ng-container>
</ul>
